.contact-flex {
  display: flex;
  margin: 20px;
  background-color: #b3edff;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
}

.contact-form {
  align-self: center;
}

.center {
  margin: auto;
  width: 50%;

  padding: 10px;
}

.card-flex-div {
  margin: 5%;
  background-color: white;
  text-align: center;

  flex-direction: row;

  width: 85%;

  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}
